
.useagree_tbl{
	bgcolor:#FFFFFF;
	leftmargin:0;
	topmargin:0;
	marginwidth:0;
	marginheight:0;
}

.useagree_sub_tbl{
	width:700px;
	border:0;
	cellspacing:0;
	cellpadding:0;
}

.useagree_content_sub_tbl{
	width:900px;
	border:0;
	cellspacing:0;
	cellpadding:0;
}