		
.home_tbl{
	width:900px;
	border-top:1px solid #e2e2e2;
	margin:auto;
	font-family:'Nanum Gothic';
	text-align:center;
}

.common_clock{
	font-family:'Nanum Gothic';
	font-size:25px;
	text-align:center;
	margin:auto;
	
}

.foot_tbl{
	width:900px;
	border-top:1px solid #e2e2e2;
	margin:auto;
	font-family:'Nanum Gothic';
	text-align:center;
}
